<body>
  <div class="contain">
    <%- include ("./nav1") %>
  </div>

  <div class="container">
    <h2 class="text-center mt-3">Welcome to CSJMU , </h2>
    <h3 class="text-info font-weight-bold text-center"><%= name %></h3>

    <div class="text-center">
      <img src="./../assets/uiet.gif" class="rounded w-100" alt="...">
    </div>
    <div class="contain mb-2 mt-2">
      <div class="navbar mt-4 navbar-dark bg-light justify-content-center border border-success" id="textarea">

        <h4 class="card-title font-weight-bold ">
          <h2 class="text-success ">Our Hostels</h2>
        </h4>
      </div>
    </div>

   
      <h5 class="contain text-primary mt-4 font-weignt-bold mb-3">
        There are six on-campus hostels with the capacity of 1114 seats, of which two are Boys’ Hostels and four Girls’
        Hostels. The two Boys’ Hostels namely, Shivaji (400 pax) and Swarn Jayanti (200 pax) and Girls’ Hostels are
        Ganga (72 pax), Triveni (108 pax), Saraswati (218 pax), and Kaveri (116 pax) have two-seater and three-seater
        rooms.
      </h5>
      <div class="col-md-12 ">
        <div class="comment mr-3">
          <div class="card border-light mb-3 shadow rounded">
            <div class="card-body">
              <h6 class="adity mb-3 mr-3 text-success">Food Facility</h6>

              <p> >> Mess facility has been out sourced by M/s. Shri Ram Saran Sons & Services Pvt. Ltd.</p>
              <p> >> Four meals i.e. breakfast, lunch, evening snacks & dinner in a day.</p>
              <p> >> Complaint register/book placed in mess.</p>
              <p> >> Mess menu by Student Mess Committee and Hostel Warden.</p>
              <p> >> Special care of hygiene.Food Facility</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 ">
        <div class="comment mr-3">
          <div class="card border-light mb-3 shadow rounded">
            <div class="card-body">
              <h6 class="adity mt-4 mb-3 text-success"> Other Facilities</h6>

              <p> >> Wi-Fi facility to all hostellers (Proposed).</p>
              <p> >> News-papers in the hostels.</p>
              <p> >> 24 hrs. electric power facility.</p>
              <p> >> 24 hrs. security.</p>
              <p> >> First-aid and ambulance facility.</p>
              <p> >> R.O. drinking water.</p>
              <p> >> Hot water in winters (Proposed).</p>
              <p> >> Housekeeping facility for 365 days.</p>
              <p> >> Laundry facility for hostellers (Proposed).</p>
              <p> >> Library facility in hostel (Proposed).</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 ">
        <div class="comment mr-3">
          <div class="card border-light mb-3 shadow rounded">
            <div class="card-body">
              <h6 class="adity mt-4 mb-3 text-success">Recreation and Sports Activities</h6>

              <p> >> TV, News-papers etc.
                <p> >> In door games like, Carom, Badminton, TT for boys & girls.</p>
                <p> >> Cricket, Football, Basket-ball, Volleyball, Handball, Hockey, Kabaddi, Kho-Kho.</p>
                <p>> > >> Cultural activities, sports toumaments etc.</p>
                <p> >> Gym for boys & girl hostellers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  