<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><span class="navbar-toggler-icon ml-auto"></span>&nbsp Navbar</span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active px-2">
          <a class="nav-link adi" href="authority_dashboard">Home</a>
        </li>
        
        <li class="nav-item active px-2">
          <a class="nav-link adi" href="view_all_students">Students List</a>
        </li>
         <li class="nav-item active px-2">
          <a class="nav-link adi" href="view_all_queries">Problems List</a>
        </li>
        <li class="nav-item active px-2">
          <a class="nav-link adi" href="make_a_announcement1">Make a Announcement</a>
        </li>
        
        <li class="nav-item dropdown  ">
          <a class="nav-link adi dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"  >
            Admin & Authorites
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="nav-link adi" href="authorityregister">Register Authority</a>
            <a class="nav-link adi " href="adminregister">Register a Admin  </a>
            
            <a class="nav-link adi " href="view_all_admins">Admin List</a>
          </div>
        </li>
        <li class="nav-item dropdown bg-dark">
          <a class="nav-link dropdown-toggle adi text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Incharges
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="nav-link adi" href="inchargeregister">Register a Incharge</a>
            
            <a class="nav-link adi" href="view_all_incharges">Incharge List</a>
          </div>
        </li>
        
        
       
      </ul>
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item active px-2">
          <a class="nav-link adi" href="authority_profile">Profile</a>
        </li>
        <li class="nav-item active px-2">
            <a class="nav-link adi" href="announcement2">Announcement</a>
          </li>
        <li class="nav-item active px-2">
          <a class="nav-link adi" href="logout">Logout</a>
        </li>
      </ul>
    </div>
    
  
  </nav>
